# -----------------------------------------------------------------------------
# App - Don't add "/" in the end of the url (same in production)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

# -----------------------------------------------------------------------------
# Authentication is owned by backend-admin
# -----------------------------------------------------------------------------
GITHUB_OAUTH_TOKEN=
